{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {# Ici mon menu de navigation twig nav #}

<header class="header">
    <section class="header-section">
        <div class="header-section-div">
            <h1>Emmanuel Diop</h1>
            <h2>Développeur Web Full Stack<span>, PHP et Symfony</span></h2>
            <div class="presentation-container">
                <p>Passionné d'informatique et de nouvelles technologies depuis l'enfance, j'ai récemment entrepris de me former au développement Web et à la <span class="presentation-span">programmation informatique</span> afin d'en faire mon métier. </p>
                <br>
                <p>Au cours des six derniers mois, j'ai suivi une formation intensive auprès de l'école O'clock qui m'a donné de solides connaissances, relatives à la programmation informatique, notamment la programmation orientée objet. Je suis capable de mener à bien un projet de sa conception à sa livraison. 
                <p>J'utilise les langages HTML, CSS et JS du côté du navigateur et PHP, son framework Symfony et SQL, côté serveur. </p>
                <br>
                <p>Je suis quelqu'un de curieux, toujours désireux d'apprendre et de progresser. De cette façon, je peux me former de façon autonome à n'importe quel langage informatique afin de répondre aux attentes techniques de recruteurs ou de clients. Dans cette idée, mon souhait est de réaliser une alternance pour obtenir le diplôme de Développeur Concepteur d'Applications. Je suis à la recherche d'une entreprise aux côtés de laquelle j'aimerais poursuivre ma montée en compétences et offrir ma force de travail.</p>
            </div>
        </div>
        <img src="./img/Photo-cv-noir_blanc-removebg-preview.png" alt="portrait">
    </section>   
</header>

<main class="main-container"> 
    <section id="projects">
        <h2>Projects</h2>
        <div class="cards">
            <article class="card">
                <div class="card__content">
                    <img class="card__image" src="{{asset('img/panier-fruits-legumes-bordeaux.jpg')}}" alt="">
                    <h3 class="card__title">O'P'tits Oignons</h3>
                    <p class="card__desc">Une application Web dédiée à une consommation responsable et de proximité</p>
                </div>
                <div class="card__action">
                    <a class="btn" href="">Découvrir</a>
                </div>
            </article>
            <article class="card">
                <div class="card__content">
                    <img class="card__image" src="{{asset('img/task-manager.png')}}" alt="">
                    <h3 class="card__title">Tasklist</h3>
                    <p class="card__desc">Une SAP en JS de gestion de tâche, avec API, pour tout gérer rapidement</p>
                </div>
                <div class="card__action">
                    <a class="btn" href="">Découvrir</a>
                </div>
            </article>
            <article class="card">
                <div class="card__content">
                    <img class="card__image" src="{{asset('img/dr-dre-the-chronic-edition-limitee_643e65b924b41_900.jpg')}}" alt="">
                    <h3 class="card__title">Dr Dre, the Chronic</h3>
                    <p class="card__desc">Un site web dédié au beatmaker Californien</p>
                </div>
                <div class="card__action">
                    <a class="btn" href="">Découvrir</a>
                </div>
            </article>
            <article class="card">
                <div class="card__content">
                    <img class="card__image" src="{{asset('img/panier-fruits-legumes-bordeaux.jpg')}}" alt="">
                    <h3 class="card__title">O'P'tits Oignons</h3>
                    <p class="card__desc">Une application Web dédiée à une consommation responsable et de proximité</p>
                </div>
                <div class="card__action">
                    <a class="btn" href="">Découvrir</a>
                </div>
            </article>
            <article class="card">
                <div class="card__content">
                    <img class="card__image" src="{{asset('img/task-manager.png')}}" alt="">
                    <h3 class="card__title">Tasklist</h3>
                    <p class="card__desc">Une SAP en JS de gestion de tâche, avec API, pour tout gérer rapidement</p>
                </div>
                <div class="card__action">
                    <a class="btn" href="">Découvrir</a>
                </div>
            </article>
            <article class="card">
                <div class="card__content">
                    <img class="card__image" src="{{asset('img/dr-dre-the-chronic-edition-limitee_643e65b924b41_900.jpg')}}" alt="">
                    <h3 class="card__title">Dr Dre, the Chronic</h3>
                    <p class="card__desc">Un site web dédié au beatmaker Californien</p>
                </div>
                <div class="card__action">
                    <a class="btn" href="">Découvrir</a>
                </div>
            </article>
        </div>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <div class="form">

        </div>
    </section>

</main>
    
{% endblock %}
